<div class="metric-setting" *ngIf="metric!=null">
    <ul style="list-style:none">
        <li>
            <span>Show Data</span><input style="margin-left:10px" type="checkbox" [checked]="isShowData" (change)="isShowDataChanged($event)" />
        </li>
        <li>
            <span>Table</span>
            <div style="position: relative" com-dropdown [DataSet]="tables" [DisplayFieldName]="'Table_Name'" [IsMultiSelect]="false" [SingleSelected]="table" (onDataChange)="tableChanged($event)"></div>
        </li>
        <li *ngIf="table!=null">
            <span>Column 1</span>
            <div style="position: relative" com-dropdown [ExclusiveList]="exceptFields" [ExclusiveField]="''" [DataSet]="table.Columns" [DisplayFieldName]="'Column_Name'" [IsMultiSelect]="false" [SingleSelected]="column1" (onDataChange)="onColumn1Change($event)"></div>
        </li>
        <li *ngIf="table!=null">
            <span>Operator</span>
            <div style="position: relative" com-dropdown [DataSet]="operators" [DisplayFieldName]="''" [IsMultiSelect]="false" [SingleSelected]="metric.Operator" (onDataChange)="metric.Operator=$event"></div>
        </li>
        <li *ngIf="table!=null && metric.Operator!='None'">
            <span>Column 2</span>
            <div style="position: relative" com-dropdown [ExclusiveList]="exceptFields" [ExclusiveField]="''" [DataSet]="table.Columns" [DisplayFieldName]="'Column_Name'" [IsMultiSelect]="false" [SingleSelected]="column2" (onDataChange)="onColumn2Change($event)"></div>
        </li>
        <li *ngIf="table!=null">
            <span>Aggregation</span>
            <div style="position: relative" com-dropdown [DataSet]="aggregates" [DisplayFieldName]="''" [IsMultiSelect]="false" [SingleSelected]="metric.Aggregation" (onDataChange)="metric.Aggregation=$event"></div>
        </li>
        <li *ngIf="table!=null" style="padding-top:30px">
            <button class="btn btn-primary" (click)="apply()">Apply</button>
        </li>

    </ul>
    <div class="btn-close" style="position: absolute;top: 0px;right: 4px;cursor:pointer">
        <i class="fa fa-times" aria-hidden="true" (click)="close()"></i>
    </div>
</div>