<div class="data-grid-collapse" >
    <div style="position: relative;display:inline-block" (click)="showDataGrid=!showDataGrid">
        <i class="fa fa-database" aria-hidden="true"></i>
        <i class="fa fa-caret-up" aria-hidden="true" *ngIf="showDataGrid"></i>
        <i class="fa fa-caret-down" aria-hidden="true" *ngIf="!showDataGrid"></i>
    </div>
    <div style="position: relative;display:inline-block" com-dropdown [DataSet]="fields" [DisplayFieldName]="''" [IsMultiSelect]="true" [Title]="'Columns'" [Selected]="displays" (onDataChange)="onDisplayChanged($event)"></div>

</div>
<div class="data-grid" *ngIf="meta&&datasource" [ngClass]="{expanded:showDataGrid}">
    <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th *ngFor="let c of getDisplayFields()">
                    {{c}}
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th *ngFor="let c of getDisplayFields()">
                    {{c}}
                </th>
            </tr>
        </tfoot>
        <tbody>
            <tr id="{{r['Id']}}" *ngFor="let r of datasource;let i = index" [ngClass]="{active:r['Id']==currentItem['Id']}">
                <td *ngFor="let c of getDisplayFields()">
                    {{r[c]}}
                </td>
            </tr>
        </tbody>
    </table>
</div>